<!DOCTYPE html>  <!--html과 다르게 이제는 flask 이용 -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Index Page
    </h1>
    <form action="/second/" method="get">  <!--get(기본값)/post-->
        <input type="text" name="id">
        <input type="password" name="pass">
        <input type="submit">
    </form>  <!--http://localhost:5000/second/?id=&pass=-->
            <!--get의 형태로 페이지 넘어감 -->
    <h1>
        url post
    </h1>
    <form action="/third/" method="post"> 
        <input type="text" name="id">
        <input type="password" name="pass">
        <input type="submit">
    </form>
    <a href="/second/">second page</a>
</body>
</html>