<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href = "/corona/">코로나 데이터 확인</a>
    <a href = "/corona/des/">describe</a>
    <!--a href = "/img2">표</a-->
    <!--img src="/img2"width="40%"-->
    <img src="/img/" width="40%"> <!--표를 띄우는 법/이미지 태그/종료 태그 없음  -->
    <!--img src="/img3/" width="40%"-->
</body>
</html>